In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy.sql import select
engine = create_engine('sqlite://', echo=False)
conn = engine.connect()

##  Reading in Stored Player Data by Game:

In [54]:
# To read a file into python from a csv:
# use pd.read_csv(<"path/filename.csv">,<na_values=None>,<header=0<determines if we use headers>>,<names=>,<usecols="name specific columns to use>,<index_col=None<sets the column index>>,<dtype=<only allows specific data types>,<skiprows=<skip specific rows>)
player_data = pd.read_csv('npo_all_player_games.csv',index_col=0, na_values=None)
pd.set_option('display.max_columns', 500)

In [93]:
# Check the size of the data to make sure memory is ok
player_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67971 entries, 0 to 67970
Data columns (total 28 columns):
Name                   67971 non-null object
Dates                  67971 non-null object
Age                    67971 non-null object
Location               67971 non-null object
Team                   67971 non-null object
Opponent               67971 non-null object
Game Result            67971 non-null object
Started                67971 non-null object
Minutes Played         67971 non-null object
FG                     67971 non-null object
FGA                    67971 non-null object
FG3                    67971 non-null object
FG3A                   67971 non-null object
FG3Pct                 67971 non-null object
FreeThrows             67971 non-null object
Free Throw Attempts    67971 non-null object
Free Throw Percent     67971 non-null object
Offensive Rebounds     67971 non-null object
Defensive Rebounds     67971 non-null object
Total Rebounds         67971 non-null object
Assists                67971 non-null object
Steals                 67971 non-null object
Blocks                 67971 non-null object
Turnovers              67971 non-null object
Personal Fouls         67971 non-null object
Points                 67971 non-null object
Game Score             67971 non-null object
Plus Minus             67971 non-null object
dtypes: object(28)
memory usage: 115.7 MB

In [106]:
#player_data.to_sql('players',con=engine)

In [138]:
from_database = engine.execute("SELECT * FROM players").fetchall()

## Pandas Refresher: Series

In [5]:
# a pandas series can hold a numpy array, list, tuple, dictionary
# The second argument is the index sequence
p =pd.Series(np.random.random(size=4), index=['time1','time2','time3','time4'])

In [4]:
p['time1']

0.45294907631986636

## Pandas DataFrames

In [13]:
# A data frame in pandas is a generic matrix where we can use rows and columns to model data
# In pandas each row stands for an observation
# Each column represents some feature of the data
# The Features of a Data Frame are given and reffered by names 
# Features can have a mixture of data types
# Similar to a table in a Relational database, I can apply many powerful methods to conduct data analysis
# Methods include Row manipulation, selection, soreting, reshaping etc.

#### Generating data frames:

In [18]:
# Generating a pandas data frame:
# constructor method: pd.DataFram("Accpets: NP Array | PD Series | list of lists or tuples)
# external file: load csv's or json into a dataframe
# selecting/ slice / or join from an existing data frame

x = pd.DataFrame([pd.Series(np.random.random(size=4), index=['time1','time2','time3','time4'])])
y = pd.DataFrame(np.array([range(1,5),[0,1,2,3]]))
z = pd.DataFrame(np.array([[0,1,2,3],[4,5,6,6]]), columns=['c1','c2','c3','c4'])

In [19]:
x

      time1     time2     time3     time4
0  0.187832  0.775538  0.179081  0.476286

In [20]:
y

   0  1  2  3
0  1  2  3  4
1  0  1  2  3

In [22]:
z

   c1  c2  c3  c4
0   0   1   2   3
1   4   5   6   6

In [24]:
# data frames can contain a mixture of data types
records = [['Harden','SG', 13, {'MVP':2017}], ['James', 'SF',23,{'MVP':2014}]]
titles=['player','number','position','mvp']
mvps = pd.DataFrame(records,columns=titles)

In [28]:
print("Harden MVP Year: ",mvps['mvp'][0]['MVP'])

Harden MVP Year:  2017

#### Understanding Properties of our DataFrame:

In [29]:
# Transposing the data
print(mvps.T)

                      0              1
player           Harden          James
number               SG             SF
position             13             23
mvp       {'MVP': 2017}  {'MVP': 2014}

In [30]:
# Returning the shape shape of the data Frame
print(mvps.shape)

(2, 4)

In [31]:
# Returning the dimensions of the DataFrame
print(mvps.ndim)

2

In [32]:
# Returning the size of the DataFrame
print(mvps.size)

8

In [33]:
# Return the number of rows
print(len(mvps))

2

In [34]:
# return the values of a DataFrame
print(mvps.values)

[['Harden' 'SG' 13 {'MVP': 2017}]
 ['James' 'SF' 23 {'MVP': 2014}]]

In [39]:
# return the columns of a DataFrame
print("All columns: ",mvps.columns)
print("The first column:", mvps.columns[0])
print("Retrieve column by first axes",mvps.axes[1])

All columns:  Index(['player', 'number', 'position', 'mvp'], dtype='object')
The first column: player
Retrieve column by first axes Index(['player', 'number', 'position', 'mvp'], dtype='object')
1

#### Creating Sub-Data Frames

In [108]:
# Selecting a range of rows from all columns
player_data[1:5]

,Name,Dates,Age,Location,Team,Opponent,Game Result,Started,Minutes Played,FG,FGA,FG3,FG3A,FG3Pct,FreeThrows,Free Throw Attempts,Free Throw Percent,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points,Game Score,Plus Minus
1,Jonas Valanciunas,2012-11-03,20-181,away,TOR,BRK,L (-7),1,12:13,1,4,0,0,0.0,0,0,0.0,1,2,3,2,0,2,1,3,2,1.5,+1
2,Jonas Valanciunas,2012-11-04,20-182,home,TOR,MIN,W (+19),1,22:42,2,8,0,0,0.0,0,0,0.0,3,1,4,2,0,1,1,3,4,1.5,+2
3,Jonas Valanciunas,2012-11-06,20-184,away,TOR,OKC,L (-20),1,31:34,6,8,0,0,0.0,6,6,1.000,3,3,6,1,0,0,3,1,18,15.1,-9
4,Jonas Valanciunas,2012-11-07,20-185,away,TOR,DAL,L (-5),1,10:29,2,4,0,0,0.0,0,0,0.0,2,0,2,0,0,0,2,5,4,-0.6,-13

In [114]:
# select specific rows and specific columns
player_data.iloc[[1,555], [0,1,2,3]]

                  Name       Dates     Age Location
1    Jonas Valanciunas  2012-11-03  20-181     away
555       Delon Wright  2015-12-03  23-221     home

In [137]:
# select specified rows and columns:
delon = player_data.iloc[707:755,0:20]

In [118]:
# select specified rows and columns:
player_data.iloc[[3000,5],0:10]

,Name,Dates,Age,Location,Team,Opponent,Game Result,Started,Minutes Played,FG
3000,C.J. Miles,2012-11-27,25-254,home,CLE,PHO,L (-13),0,19:25,3
5,Jonas Valanciunas,2012-11-10,20-188,home,TOR,PHI,L (-10),1,20:18,3

In [128]:
# selecting a series object from a dataframe
games= player_data["Game Result"][0:130]

In [127]:
randSelect = player_data[['Name','Team','Minutes Played', 'Plus Minus']].loc[[63000,978,2302]]

In [136]:
# selecting a scalar value from a Data Frame
name = player_data.at[5,'Name']
name2 = player_data['Name'][5]
name3 = player_data.iat[5,0]
print(name,"+", name2,"+", name3)

Jonas Valanciunas + Jonas Valanciunas + Jonas Valanciunas

In [158]:
# Sorting with 'quicksort', 'mergesort', or 'heapsort'
points_leader = player_data.sort_values("FG3Pct", ascending=True,kind='heapsort')

In [161]:
# selecting values based on a boolean search
boolean_select = points_leader.FG3Pct > ".43"

In [180]:
# selecting a specific element by name
kawhi = points_leader.loc[points_leader['Name'] == "Kawhi Leonard"]

In [181]:
kawhi.head()

,Name,Dates,Age,Location,Team,Opponent,Game Result,Started,Minutes Played,FG,FGA,FG3,FG3A,FG3Pct,FreeThrows,Free Throw Attempts,Free Throw Percent,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points,Game Score,Plus Minus
1215,Kawhi Leonard,2016-04-10,24-286,home,SAS,GSW,L (-6),1,38:59,7,22,0,3,.000,6,7,.857,6,7,13,5,2,3,0,3,20,19.7,-10
1055,Kawhi Leonard,2014-10-31,23-124,away,SAS,PHO,L (-5),1,23:39,0,5,0,1,.000,6,6,1.000,1,7,8,1,0,0,1,0,6,5.0,+13
976,Kawhi Leonard,2013-11-06,22-130,home,SAS,PHO,W (+3),1,27:16,4,9,0,2,.000,0,0,0.0,1,5,6,1,1,0,3,3,8,3.0,+4
1112,Kawhi Leonard,2015-02-28,23-244,away,SAS,PHO,W (+27),1,31:55,9,18,0,1,.000,4,4,1.000,0,10,10,0,3,2,0,2,22,19.6,+24
1005,Kawhi Leonard,2014-01-04,22-189,home,SAS,LAC,W (+24),1,29:43,5,8,0,1,.000,0,0,0.0,0,4,4,0,0,0,4,2,10,2.8,+17