In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Stored Player Data by Game:

In [8]:
# read a file into python from a csv
player_data = pd.read_csv('npo_all_player_games.csv')
pd.set_option('display.max_columns', 500)

In [12]:
# Check the size of the data to make sure memory is ok
player_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67971 entries, 0 to 67970
Data columns (total 29 columns):
Unnamed: 0             67971 non-null int64
Name                   67971 non-null object
Dates                  67971 non-null object
Age                    67971 non-null object
Location               67971 non-null object
Team                   67971 non-null object
Opponent               67971 non-null object
Game Result            67971 non-null object
Started                67971 non-null object
Minutes Played         67971 non-null object
FG                     67971 non-null object
FGA                    67971 non-null object
FG3                    67971 non-null object
FG3A                   67971 non-null object
FG3Pct                 67971 non-null object
FreeThrows             67971 non-null object
Free Throw Attempts    67971 non-null object
Free Throw Percent     67971 non-null object
Offensive Rebounds     67971 non-null object
Defensive Rebounds     67971 non-null object
Total Rebounds         67971 non-null object
Assists                67971 non-null object
Steals                 67971 non-null object
Blocks                 67971 non-null object
Turnovers              67971 non-null object
Personal Fouls         67971 non-null object
Points                 67971 non-null object
Game Score             67971 non-null object
Plus Minus             67971 non-null object
dtypes: int64(1), object(28)
memory usage: 115.7 MB

## Pandas Refresher: Series

In [5]:
# a pandas series can hold a numpy array, list, tuple, dictionary
# The second argument is the index sequence
p =pd.Series(np.random.random(size=4), index=['time1','time2','time3','time4'])

In [4]:
p['time1']

0.45294907631986636

## Pandas DataFrames

In [13]:
# A data frame in pandas is a generic matrix where we can use rows and columns to model data
# In pandas each row stands for an observation
# Each column represents some feature of the data
# The Features of a Data Frame are given and reffered by names 
# Features can have a mixture of data types
# Similar to a table in a Relational database, I can apply many powerful methods to conduct data analysis
# Methods include Row manipulation, selection, soreting, reshaping etc.

#### Generating data frames:

In [18]:
# Generating a pandas data frame:
# constructor method: pd.DataFram("Accpets: NP Array | PD Series | list of lists or tuples)
# external file: load csv's or json into a dataframe
# selecting/ slice / or join from an existing data frame

x = pd.DataFrame([pd.Series(np.random.random(size=4), index=['time1','time2','time3','time4'])])
y = pd.DataFrame(np.array([range(1,5),[0,1,2,3]]))
z = pd.DataFrame(np.array([[0,1,2,3],[4,5,6,6]]), columns=['c1','c2','c3','c4'])

In [19]:
x

      time1     time2     time3     time4
0  0.187832  0.775538  0.179081  0.476286

In [20]:
y

   0  1  2  3
0  1  2  3  4
1  0  1  2  3

In [22]:
z

   c1  c2  c3  c4
0   0   1   2   3
1   4   5   6   6